raycast/Extensions
raycast-x/
spicetify/CustomApps
spicetify/Extensions
**/node_modules
pnpm/**
!pnpm/.gitkeep
fish/fish_variables
.versions
.java-default
gh/hosts.yml
spicetify/config-xpui.ini
**.DS_Store
wireshark
raycast/Raycast 2026-03-01 01.42.34.rayconfig
raycast/config.json
github-copilot/apps.json
zed/prompts/prompts-library-db.0.mdb/data.mdb
zed/prompts/prompts-library-db.0.mdb/lock.mdb
raycast-x
mole/clean-list.txt